/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: inherit;
}

:root {

    /* SIZES */

    --side-image-width: calc(100vw * 1/3);
    --main-width: calc(100vw * 2/3);
	--font-size-smaller: 12px;
    --font-size-small: 16px;
    --font-size-normal: 24px;
    --font-size-big: 48px;

    /* COLORS */

    --font-color-primary: rgb(194, 194, 194);
    --font-color-secondary: rgb(76 202 165);
    --background-color-primary: rgb(0 0 0 / 50%);
    --background-color-secondary: linear-gradient(90deg,#11141d, #2a2a2a);
    --button-color-primary: #fff;
    --button-color-secondary: #fff;
}

@font-face {
    font-family: fira-code;
    src: url("./fonts/FiraCode-VariableFont_wght.ttf");
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
	font-family: Roboto, sans-serif;
}

.side-image {
    display: flex;
    flex-direction: column;
    align-items: strech;
	justify-content: space-between;
    background-image: url("./images/walkator_wall_of_code.jpg");
    width: calc(100vw * 1/3);
	padding: 10px 0;
}

.main {
    display: flex;
    flex-direction: column;
	justify-content: center;
	gap: 50px;
	padding: 0 20px;
    width: calc(100vw * 2/3);
	background: var(--background-color-secondary);
	color: var(--font-color-primary);
}

.side-header {
	position: relative;
	top: calc(100vh * 1/3);
	font-family: fira-code;
	font-size: var(--font-size-big);
	font-weight: bold;
	color: var(--font-color-secondary);
	background: var(--background-color-primary);
	text-align: center;
}

.side-footer {
	font-size: var(--font-size-small);
	color: var(--font-color-primary);
	background: var(--background-color-primary);
	text-align: center;
}

.main-top {
	padding-left: 30px;
	font-size: var(--font-size-normal);
	font-weight: bold;
	
}

.main-middle {
	border-radius: 50px;
	padding: 30px;
	box-shadow: 0px 0px 10px white;
}

legend {
	font-size: var(--font-size-normal);
	font-weight: bold;
}

.input-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
	margin-top: 15px;
}

fieldset div {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

label {
	font-size: var(--font-size-smaller);
	font-weight: bold;
}

.main-bottom {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-left: 30px;
	font-size: var(--font-size-ssmall);
}

button {
	background: var(--button-color-primary);
	border: 2px solid var(--button-color-secondary);
	border-radius: 10px;
	font-size: var(--font-size-small);
	font-weight: bold;
	height: 5ch;
	width: 30ch;
	box-shadow: 0px 0px 5px white;
}

button:hover {
	cursor: pointer;
}

button:active {
	box-shadow: 0px 0px 20px white;
}